<p>
  <mat-toolbar style="background-color: rgba(0, 0, 0, 0.808);">


     <mat-toolbar-row>
       <span style="background-color: blue; color: black; height: 70%; width: 200px; font-size:38px;">BestMusic</span>




       <button *ngIf="isAuthenticated" routerLink='albums'  mat-raised-button style="margin-left: 20%; width: 150px; height: 80%; " >
        <mat-icon>album</mat-icon>
      </button>
      <button *ngIf="isAuthenticated"  routerLink="profilo" mat-raised-button style="margin-left: 5%; width: 150px; height:80%; " >
        <mat-icon>account_box</mat-icon>
      </button>
       <button mat-icon-button  *ngIf="isAuthenticated" routerLink = 'carrello'  aria-label="Example icon-button" style="margin-left:5%; width: 150px; height: 80%;">
         <mat-icon>shopping_cart</mat-icon>
       </button>
       <button *ngIf="!isAuthenticated"(click)="oktaAuth.loginRedirect()" style="margin-left: 85%; height: 75%; width: 100px;" >
          LOGIN
      </button>
       <button *ngIf="isAuthenticated" (click)="oktaAuth.logout()" style="margin-left:30%; height: 80%; width: 90px;">
          LOGOUT
      </button>
     </mat-toolbar-row>
   </mat-toolbar>
  </p>
      <div>


        <div>  </div>
      </div>
      <p class = 'logo' *ngIf="!isAuthenticated"> <img src = "../../assets/logo.jpg" ></p>


<router-outlet></router-outlet>
